<a href="https://shockify.ga/"><img src="logo.png" height="64"><a href="https://shockify.ga/"></a></div>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta property="og:title" content="Sabers">
<meta property="og:description" content="Sabers X Shockify">
<meta property="og:image" content="../media.discordapp.net/attachments/942136295386415175/970825594621263922/Loog-modified.png">

<head>
    <title>Sabers</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="logo.png">
</head>
<body>
<video disablePictureInPicture playsinline loop>
    <source src="vid.mp4" type="video/mp4" />
        <script>
            var video = document.currentScript.parentElement;
            video.volume = 0.1;
    </script>
</video>
<div id="rain-container"></div>

<div class="main">
    <pre class="hidden">Sabers <span style="color: rgb(40, 40, 40);">X Shockify</span></pre><br>
    <pre class="hidden"><span style="color: rgb(106, 106, 106);">Private methods created by Shockify/Sabers Team</span></pre><br>
    <a href="#" onclick="start()" class="unhidden" id="enter">Click to continue</a>
   <span class="hidden">[ <a class="hidden" href="#features" id="featuresButton">Features</a> | <a class="hidden" href="https://discord.gg/qkfZXsXRZK">Purchase</a> ] </span>
</div>  
<div id="featuresModal" class="modal">
  <div class="modal-content">
    <span class="featuresClose">[&times;] Features List</span>
    <p> 
                        <br>

        What Methods Dew/Shockify Team created : <br>   
        <br>
  
        [•]Get any Roblox phishing link webhook<br>
        <br>

        [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>      [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>
        [•]Soon..<br>
        <br>

    </p>
  </div>
</div>
    </div>
</div>
<script>
    var Fmodal = document.getElementById("featuresModal");
    var Fbtn = document.getElementById("featuresButton");
    var Fspan = document.getElementsByClassName("featuresClose")[0];
    var Pmodal = document.getElementById("purchaseModal");
    var Pbtn = document.getElementById("purchaseButton");
    var Pspan = document.getElementsByClassName("purchaseClose")[0];
    Fbtn.onclick = function() {
        Fmodal.style.display = "block";
    }
    Fspan.onclick = function() {
        Fmodal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == Fmodal) {
            Fmodal.style.display = "none";
          }
    }

    Pbtn.onclick = function() {
        Pmodal.style.display = "block";
    }
    Pspan.onclick = function() {
        Pmodal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == Fmodal) {
            Pmodal.style.display = "none";
          }
    }
</script>
    <script>
        //var audio = document.getElementById("music");
        //audio.src = "ok.mp3";
        //audio.volume = 0.5;
        function start() {
            document.querySelectorAll(".hidden").forEach(elem => {
                elem.className = elem.className.replace("hidden", "");
            });

            document.querySelectorAll(".unhidden").forEach(elem => {
                elem.className = elem.className.replace("unhidden", "hidden");
            });
            var vid = document.querySelector("video");
            vid.play();
        }
    </script>
</body>

<div id="status"><p>Still in  <span style="color: rgba(255, 21, 0, 0.302);">Development</span></p></div>