    * {
    cursor: default;
}

body {
    background: rgba(9, 9, 9, 0.739);
    color: rgb(150, 150, 150);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main pre {
    font-size: 24px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.main {
    color: white;
}
a{
    text-shadow: 1px 1px 1px #000;
    color: rgb(112, 112, 112);
    text-decoration: none;
}
a:hover{
    color: rgb(208, 208, 208);
    text-decoration: underline;
    cursor: pointer;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#featuresModal {
    display: none;
}

#purchaseModal {
    display: none;
}

.rain {
    position: absolute;
    height: 15px;
    width: 3px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.349), rgb(255, 255, 255) 99%);
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    width: 80%;
    min-height: 250px;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow: hidden;
    filter: blur(15px);
    background: rgba(7, 9, 21, .5);
    filter: brightness(62.5%);
    top: 50%;
    left: 50%
}

#featuresModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #04040494;
    box-shadow: 0 0 0 1px #4e4e4e, 0 0 0 2px #4e4e4e, 0 0 7px 3px #4e4e4e;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#purchaseModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 400px;
    background-color: #040404;
    box-shadow: 0 0 0 1px #323232, 0 0 0 2px rgb(21, 21, 21), 0 0 7px 3px rgb(34, 34, 34);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.hidden {
    display: none !important;
}
.unhidden {}
/* 1a1a1a*/
#status {
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(16%, -50%)		
    }